# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore certs
keystore.jks
password.txt

# Ignore vscode settings
.vscode

# Ignore runtime files
initchannels.txt
disabledchannels.txt
apiKey.txt